.language_switch_icon{
  width: 3rem;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  @media (max-width: 600px) {
    width: 5rem;
  }
  cursor: pointer;
  &:hover {
    animation: hithere 1.2s ease infinite;
  }
  @keyframes hithere {
    30% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
}