.scroll_to_top_button {
  position: fixed;
  bottom: 2.8rem;
  right: 2.8rem;
  cursor: pointer;
  z-index: 1;
  height: 4rem;
  width: 4rem;
  div {
    background-color: transparent;
    svg {
      padding: 0.5rem;
    }
  }
}