.language_switcher_icon {
  width: 4rem;
  height: 4rem;
  img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
  }
  cursor: pointer;
  background: transparent;
  z-index: 3;
  @media (max-width: 50px) {
    margin-top: 2rem;
  }
}