.skills {
    width: 40vw; 
    margin: auto;
    margin-bottom: 10rem;
    text-align: center;
    @media (max-width: 1500px) {
      width: 60vw !important;
    }
    @media (max-width: 1000px) {
      width: 70vw !important;
    }
    @media (max-width: 700px) {
      width: 90vw !important;
    }
    ul {
      border: solid var(--border-width) var(--color-sec);
      display: flex;
      justify-content: center;
      width: 100%;
      flex-flow: row wrap;
      padding: 2rem;
      box-shadow: var(--box-shadow);
      li {
        margin: 1.7rem;
        height: 4rem;
        outline: none;
        background: transparent;
        position: relative;
        z-index: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 4rem;
        }
        span {
          font-size: 1.3rem;
        }
      } 
    }      
}