.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  width: 60vw;
  min-height: 50vh;
  margin: auto;
  background: #f5f6fa;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 1.5rem;
  border-radius: 50px;
  margin-bottom: 20rem;
  margin-top: 20vh;
  &:hover {
    .hithere_hover {
      animation: hithere 1.2s ease infinite;
    }
  }
    @media (max-width: 700px) {
      width: 90vw !important;
    }  
    h1 {
      @media (max-width: 700px) {
        font-size: 3rem !important;
      }
    }
    div {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      p {
        font-size: 2.5rem !important;
        @media (max-width: 600px) {
          font-size: 2rem !important;
        }
      }
    }
    .important_text {
      color: #2978b5;
      font-weight: 800;
    }
    .description {
      display: inline-block;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
     
      p {
        display: inline;
      }
    }
}

@keyframes hithere {
30% { transform: scale(1.1); }
100% { transform: scale(1); }
}