.contact {
  margin: auto;
  text-align: center;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 40rem;
    margin: auto;
    margin-top: 20px;
    padding: 1.5rem;
    margin-bottom: 15rem;
      @media (max-width: 450px) {
        width: 25rem !important;
        }
  .items {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    @media (max-width: 450px) {
     flex-direction: column;
     }
  }

  .mail {
    padding: 0.5rem;
    height: 5rem;
    background-color: white !important;
    }
    a {
      background: transparent;
    }
  img {
    bottom: 2.8rem;
    margin: 2.5rem;
    width: 5rem;
    cursor: pointer;
    @media (max-width: 700px) {
      margin: 3.5rem;
      }
    }
  }  
}