.contact {
  margin: auto;
  text-align: center;
  .container {
    border: solid var(--border-width) var(--color-sec);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30rem;
    padding: 1rem;
  .items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    li {
      display: flex;
      justify-self: center;
      align-items: center;
      margin: 1rem;
      .mail {
        padding: 0.5rem;
        background-color: white !important;
        }
      .icon_image,
      .mail {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        }
    }
    
  }

  }  
}