.projects {
    width: 60vw; 
    margin: auto;
    margin-bottom: 10rem;
    text-align: center;
    @media (max-width: 1075px) {
        width: 80vw;
    }
    .cards_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        h3 {
            font-size: 2.1rem;
            text-transform: uppercase;
        }
       .card {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-around;
            margin: auto;
            padding: 1rem;
            margin: 1rem;
            height: 36rem;
            width: 30rem;
            border: solid var(--border-width) var(--color-sec);
            .project_description {     
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: space-between;
                background: transparent;
                width: 100%;
                padding-top: .4rem;
        
                p {    
                    padding: 0.5rem;
                }
            }
            hr {
                border: none;
                height: .2rem;
                background-color: var(--color-sec);
                padding: 0;
                width: 80%;
                margin: auto;
                position: relative;
                top: 1rem;
            }
        .project_image {  
            display: flex;
            flex: 0.8;
            align-items: center;
            justify-content: center;
            width: 95%;
            background: #ecf0f1;
            border-radius: var(--border-radius);
            position: relative;
            top: .5rem;
            img {
                width: 60%;
                max-height: 100%;
            }         
        }       
            .skill_container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 1.7rem;
                    width: 4.5rem;
                    img {
                        box-shadow: none !important;
                    }
                    span {
                        font-size: 1.3rem;
                      }
                }
            }
            .link_container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-top: 1rem;
                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: first baseline;
                    align-items: center;       
                }
            }   
            a {
                div {
                    div {
                        width: 4rem;
                        height: 4rem;
                        background-color: transparent;
                        svg {
                            padding: 0.5rem;
                        }
                    }
                }
            }
            .icon_image {
                width: 4rem;
                background-color: transparent !important;

            }
            li {
                border-radius: var(--border-radius);
                margin: 0.5rem;
                div {
                    background-color: transparent !important;

                }
            }  
        }
    }
}