.footer_container {
    background: var(--background-color-footer);
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
    margin-top: 15rem;
}