.dark {
    --color:#ecf0f1;
    --color-sec: #FFDD55;    
    --background-image: url('../../assets/dark_theme.png');
    --background-color-primary: #737373;
    --background-color-footer: #111111;
    --border-radius: 9px;
    --border-width: 0.2rem;
  }

  .light {
    --color: #111111;
    --color-sec: #8B4E26; 
    --background-image: url('../../assets/light_theme.png');
    --background-color-primary: #ecf0f1;
    --background-color-footer: #00250F;    
    --border-radius: 9px;
    --border-width: 0.2rem;
  }

 .theme_switcher {
    width: 4rem;
    height: 4rem;
    border-radius: var(--border-radius);
    div {
      width: 100%;
      height: 100%;
      background-color: transparent;
  } 
} 