body {
  margin: 0;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #ff6060;
  --secondary-color: #f6f6f6;
  --tertiary-color: #ff6060;
  color: #555;
  background-color: #dfe4eaed;
  line-height: 1.5;

}
// svg {
//   filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
// }
.app {
  line-height: 1.5;
  color: var(--clr-fg);
  // background-color: var(--clr-bg);
  background: #bdc3c7;
}

.light {
  //#f5f6fa;
  --clr-bg: #fcfcfc;
  --clr-bg-alt: #fff;
  --clr-fg: #555;
  --clr-fg-alt: #444;
  --clr-primary: #0984e0;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dark {
  --clr-bg: #23283e;
  --clr-bg-alt: #2a2f4c;
  --clr-fg: #bdbddd;
  --clr-fg-alt: #cdcdff;
  --clr-primary: #90a0d9;
  --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  // text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  // 0px -4px 10px rgba(255,255,255,0.3);
}

h3 {
  font-size: 1.8rem;
  position: relative;
  bottom: 0.4rem;
  // text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
  // 0px -4px 10px rgba(255,255,255,0.3);
}

h4 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p {
 font-size: 1.6rem;
}

