
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: var(--color);
  border-radius: var(--border-radius);
}




html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: none;
  box-sizing: border-box;
}

svg {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  padding: 0.9rem;
  font-size: 1.5rem;
  width: auto;
  margin: auto;
  text-align: center;
  width: max-content;
}

h3 {
  color: var(--color-sec);
  font-size: 1.5rem;
  position: relative;
  bottom: 0.4rem;
}

h4 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p {
 font-size: 1.4rem;
}

.square {
  color: var(--color);
  border: none;
  border-radius: var(--border-radius);
  background: var(--background-color-primary);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hithere:hover {
  animation: hithere 1.6s ease infinite;
}

@keyframes hithere {
  30% { transform: scale(1.1); }
  100% { transform: scale(1); }
}